.cta-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(30deg, var(--color-bg-accent) 0%, var(--color-bg-secondary) 50%, var(--color-bg-secondary) 100%);
    z-index: 5;
    overflow: hidden;
}

.cta-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('/textura_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    mix-blend-mode: plus-darker;
    opacity: 0.15;

    pointer-events: none;
    z-index: 1;
}

.cta-section__flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 18vw;
    min-width: 140px;
    height: auto;
    z-index: 2;
    opacity: 0.9;
    transform: translateY(-15%);
}

.cta-section__shape {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(-1, 1);
    height: 180vh;
    opacity: 0.8;
    pointer-events: none;
    z-index: 1;
}

.cta-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.cta-section__title {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 8px;
}

.cta-section__description {
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 32px;
    max-width: 600px;
}

.cta-section__cta-btn {
    font-size: 1.4rem !important;
    padding: 12px 32px !important;
    border-radius: var(--border-radius-md) !important;
    background-color: var(--color-green-brand) !important;
    border: none !important;
}

/* Responsividade */
@media (max-width: 770px) {
    .cta-section__title {
        font-size: 2.4rem;
    }

    .cta-section__cta-btn {
        font-size: 1.2rem !important;
        margin-top: 1rem;
    }
}

@media (max-width: 562px) {
    .cta-section__title {
        font-size: 2rem;
    }

    .cta-section__description {
        font-size: 0.9rem;
    }

    .cta-section__cta-btn {
        font-size: 1.1rem !important;
        margin: 2.5rem 0;
    }
}

@media (max-width: 494px) {
    .cta-section__title {
        font-size: 1.8rem;
    }

    .cta-section__cta-btn {
        font-size: 1rem !important;
        margin: 4rem 0;
        padding: 8px 24px !important;
    }
}

@media (max-width: 436px) {
    .cta-section__title {
        font-size: 1.6rem;
    }
}

@media (max-width: 400px) {
    .cta-section__title {
        font-size: 1.5rem;
    }
    
    .cta-section__description {
        font-size: 0.8rem;
    }
}
